.col-sm-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/shields/card?id=#{shield.shield_template_id},template=true')"}
    = shield.shield_template.name
.col-sm-2
  %input{name: "current_capacity", class: "vh_num", value: shield.current_capacity}
.col-sm-2.vh_center
  = shield.in_use ? "Yes" : "Unequipped"
.col-sm-5
