.col-sm-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/shields/card?id=#{shield.shield_template_id},template=true')"}
    = shield.shield_template.name
.col-sm-2
  %input{name: "current_capacity", class: "vh_num", value: shield.current_capacity}
.col-sm-2.vh_center
  = check_box_tag("in_use", true, shield.in_use, onchange: "blrpgHunters.updateShieldEquipped('#{shield.shield_template.name}', this);")
.col-sm-5
