.row
  .col-sm-3.vh_hint
    Name
  .col-sm-3.vh_hint
    Current Charge
  .col-sm-3.vh_hint
    In use?
  .col-sm-3.vh_hint
    Description
- shields.each_with_index do |shield, index|
  .row{class: "shield_row #{listRowClass(index)}", instance_id: "#{shield.id}"}
    = render partial: 'shields/edit', locals: {shield: shield}