.col-sm-3
  = shield.shield_template.name
.col-sm-3
  = shield.current_capacity
.col-sm-3
  = shield.in_use ? "Equipped" : "Not used"
.col-sm-3
  %a{href: '#', onclick: "cardModal('shields/card?id=#{shield.sheild_template_id}')"}
    Card