.row
  .col-sm-2.vh_hint
    Name
  .col-sm-2.vh_hint
    Capacity
  .col-sm-2.vh_hint
    Recharge
  .col-sm-2.vh_hint
    Deflect
  .col-sm-2.vh_hint
    Cost
  .col-sm-2.vh_hint
    Description
- shields.each_with_index do |shield, index|
  .row{class: listRowClass(index)}
    = render 'shield/template_row', locals: {shield: shield}