%p
  = @armor.description
  
%p
  %table
    %thead
      %tr
        %th.card_alt Deflect
        %th Weight
    %tbody
      %tr
        %td.card_alt
          = @armor.deflect
        %td
          = @armor.weight
%p
  %b Cost: 
  = @armor.cost