.col-sm-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/armor/card?id=#{armor.armor_template_id},template=true')"}
    = armor.armor_template.name
.col-sm-2
  %input{name: "current_deflect", class: "vh_num ", value: armor.current_deflect}
.col-sm-4
  = armor.in_use ? "Yes" : "Unequipped"
.col-sm-5