.col-sm-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/armor/card?id=#{armor.armor_template_id},template=true')"}
    = armor.armor_template.name
.col-sm-2
  %input{name: "current_deflect", class: "vh_num ", value: armor.current_deflect}
.col-sm-4
  = check_box_tag("in_use", true, armor.in_use, onchange: "blrpgHunters.updateArmorEquipped('#{armor.armor_template.name}', this);")
.col-sm-5