.row
  .col-sm-8.vh_hint
    Name
  .col-sm-4.vh_hint
    Current Deflect
- armors.each_with_index do |armor, index|
  .row{class: "armor_row #{listRowClass(index)}", instance_id: "#{armor.id}", name: armor.armor_template.name}
    = render partial: 'armor/instance_row', locals: {armor: armor}