.col-sm-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/gear/card?id=#{gear.gear_template_id},template=true')"}
    = gear.gear_template.name
.col-sm-4
.col-sm-5
  %a{href: '#', onclick: "cardModal('gear/card?id=#{gear.template_id}')"}

