.vh_cell.col-sm-3
  .row
    .col-sm-12
      = attribute.name.capitalize
  .row
    .col-sm-12
      .vh_bignum.vh_auto
        = attribute.value
  .row
    .col-sm-12
      = "[" + attribute.short + "]"