.row.vh_single
  .vh_field.col-sm-3
    .vh_hint Name
    %input{id: "vh_name", class: "vh_txt", value: vault_hunter.name}
  .vh_field.col-sm-2
    .vh_hint Level
    %input{id: "vh_level", class: "vh_num", value: vault_hunter.level}
  .vh_field.col-sm-3
    .vh_hint Player
    %input{id: "dontparse_player", class: "vh_txt", value: vault_hunter.user.username, readonly: "true"}
  .vh_field.col-sm-2
    .vh_hint Age
    %input{id: "vh_age", class: "vh_num", value: vault_hunter.age}
  .vh_field.col-sm-2
    .vh_hint Height
    %input{id: "vh_height", class: "vh_txt", value: vault_hunter.height }
.row.vh_single
  .vh_field.col-sm-3
    .vh_hint Race
    -if not @vault_hunter.race.nil?
      %input{id: "vh_race_name", class: "vh_txt", value: @vault_hunter.race.name.capitalize, readonly: "true", onclick: 'blrpgHunters.selectRace();'}
    -else
      %input{id: "vh_race_name", class: "vh_txt", placeholder: "Select Race", readonly: "true", onclick: 'blrpgHunters.selectRace();'}
  .vh_field.col-sm-2
    .vh_hint Eyes
    %input{id: "vh_eyes", class: "vh_txt", value: vault_hunter.eyes}
  .vh_field.col-sm-3
    .vh_hint Hair
    %input{id: "vh_hair", class: "vh_txt", value: vault_hunter.hair}
  .vh_field.col-sm-2
    .vh_hint Skin
    %input{id: "vh_skin", class: "vh_txt", value: vault_hunter.skin}
  .vh_field.col-sm-2
    .vh_hint Weight
    %input{id: "vh_weight", class: "vh_txt", value: vault_hunter.weight}