.row
  .col-sm-4
    - stats = {current: {title: "Wounds", value: vault_hunter.wounds}, max: {title: "Toughness", value: vault_hunter.toughness}}
    = render partial: 'shared/cell', locals: stats
  .col-sm-4
    = render partial: 'shared/cell', locals: vault_hunter.current_shield.cell_data
  .col-sm-4
    = render partial: 'shared/cell', locals: vault_hunter.current_armor.cell_data
  