%h1 Vault Hunters!
%table
  %tbody
    %tr
      %th
        Name
      %th 
        Owner
      %th
        Level
    - @vault_hunters.each do |hunter|
      %tr
        %td= hunter.name
        %td= hunter.user.username
        %td= hunter.level

