= form_tag('hunters/create'. method: :post)
  .form-group
    "Enter Name for Character:"
    %br
    = %input{name: 'vault_hunter[name]', autofocus: true, class: 'form-control', placeholder: "Lilith"}
  .actions
    = submit_tag "Create", class: "btn btn-default"
    
