%h1 New Vault Hunter
=form_tag("/hunters/create", method: :post) do
  .form_group
    = label_tag("vault_hunter[name]", "Name")
    = text_field_tag("vault_hunter[name]", "", :class => "form-control short")
  .form_group
    = submit_tag("Save")

    
