.row.vh_attack_pad{id: "attack_" + attack.id.to_s, oncontextmenu: "delete_attack(" + attack.id.to_s + ");return false;"}
  .row
    .col-sm-8.vh_hint Weapon
    .col-sm-4.vh_hint Damage
  .row
    .col-sm-8
      %input{id: "vh_attack_name_" + attack.id.to_s, class: "vh_txt", value: attack.name}
    .col-sm-4
      %input{id: "vh_attack_dmg_" + attack.id.to_s, class: "vh_num", value: attack.dmg}
  .row
    .col-sm-3.vh_hint Total Pool
    .col-sm-1
    .col-sm-2.vh_hint Base
    .col-sm-1
    .col-sm-2.vh_hint Attrib
    .col-sm-1
    .col-sm-2.vh_hint Other
  .row
    .col-sm-3
      %input{id: "vh_attack_pool_" + attack.id.to_s, class: "vh_num", value: attack.pool}
    .col-sm-1 
      \=
    .col-sm-2
      %input{id: "vh_attack_base_pool_" + attack.id.to_s, class: "vh_num", value: attack.base_pool}
    .col-sm-1
      \+
    .col-sm-2
      %input{id: "vh_attack_attrib_pool_" + attack.id.to_s, class: "vh_num", value: (attack.attribute_instance) ? attack.attribute_instance.value : 0}
    .col-sm-1
      \+
    .col-sm-2
      %input{id: "vh_attack_base_pool_" + attack.id.to_s, class: "vh_num", value: attack.misc_pool}
  .row
    .col-sm-12.vh_hint Misc
  .row
    .col-sm-12
      %input{id: "vh_attack_misc_" + attack.id.to_s, class: "vh_txt vh_misc", value: attack.misc}