.row.vh_attack_pad
  .row
    .col-sm-8.vh_hint Weapon
    .col-sm-4.vh_hint Damage
  .row
    .col-sm-8
      .vh_txt
        =attack.name
    .col-sm-4
      .vh_num
        =attack.dmg
  .row
    .col-sm-3.vh_hint Total Pool
    .col-sm-1
    .col-sm-2.vh_hint Base
    .col-sm-1
    .col-sm-2.vh_hint Attrib
    .col-sm-1
    .col-sm-2.vh_hint Other
  .row
    .col-sm-3
      .vh_num
        =attack.pool
    .col-sm-1 
      \=
    .col-sm-2
      .vh_num
        =attack.base_pool
    .col-sm-1
      \+
    .col-sm-2
      .vh_num
        =(attack.attribute_instance) ? attack.attribute_instance.value : 0
    .col-sm-1
      \+
    .col-sm-2
      .vh_num
        =attack.misc_pool
  .row
    .col-sm-12.vh_hint Misc
  .row
    .col-sm-12
      .vh_txt.vh_misc
        =attack.misc