.col-sm-1.vh_sel_race.vh_hover_select{name: race.name, race_id: race.id } 
  .vh_iconsize.glyphicon.glyphicon-thumbs-up
.col-sm-5
  = race.name
.col-sm-6
  %a{href: '#', onclick: "cardModal('races/card?id=#{race.id}')"}
    Card
  