.row
  .col-sm-3.vh_hint
    Name
  .col-sm-9.vh_hint
    Description
.vh_races
  - @races.each_with_index do |race, index|
    .row{id: "race_" + race.id.to_s, onclick: 'select_race(' + race.id.to_s + ',\'' + race.name.capitalize + '\')', class: (index % 2 == 0) ? "vh_alt" : ""}
      .col-sm-3{id: "race_name_" + race.id.to_s}
        = race.name.capitalize
      .col-sm-9
        = race.description

