.row{class: listRowClass(index)}
  .col-sm-3
    = skill.skill_template.name
  .col-sm-3
    = skill.current_duration
  .col-sm-3
    = skill.current_cooldown
  .col-sm-3
    = skill.current_modifiers