.row
  .col-sm-3.vh_hint
    Name
  .col-sm-2.vh_hint
    Type
  .col-sm-2.vh_hint
    Duration
  .col-sm-2.vh_hint
    Cooldown
  .col-sm-3.vh_hint
    Description
- skills.each_with_index do |skill, index|
  .row{class: "skill_template_row " + listRowClass(index), onclick: "blrpgHunters.addSkill(#{skill.id});"}
    = render partial: 'skills/template_row', locals: {skill: skill}