.row
  .col-sm-2
  .col-sm-8.text-center.vh_region_title
    = current[:title]
  .col-sm-2
.row
  .col-sm-1
  .col-sm-10
    .vh_bignum.vh_auto
      = current[:value]
  .col-sm-1
.row
  .col-sm-2
  .col-sm-8.text-center.vh_region_title
    = max[:title]
  .col-sm-2
.row
  .col-sm-1
  .col-sm-10
    .vh_bignum.vh_auto
      = max[:value]
  .col-sm-1