.col-sm-1
.col-sm-4
  = proficiency.name
.col-sm-7
  %a{href: '#', onmouseenter: "blrpgWindows.openHoverWindow(event,'/proficiencies/card?id=#{proficiency.id}', 'proficiency-window');", onmouseleave: "blrpgWindows.closeHoverWindow();"}
    View Card