.row{id: "proficiency_" + @proficiency.id.to_s, oncontextmenu: "delete_proficiency(" + proficiency.id.to_s + ");return false;"}
  .col-sm-5.prof_name
    = @proficiency.name
  .col-sm-2.prof_pool
    %input{id: "vh_proficiency_pool_" + @proficiency.id.to_s, value: @proficiency.pool, class: "num"}
  .col-sm-2.prof_points
    %input{id: "vh_proficiency_points_" + @proficiency.id.to_s, value: @proficiency.points, class: "num"}
  .col-sm-3.prof_attribute
    = proficiency_attribute(@proficiency.vault_hunter, @proficiency)