.row{id: "proficiency_" + @proficiency.id.to_s, oncontextmenu: "delete_proficiency(" + @proficiency.id.to_s + ");return false;"}
  .col-sm-9.prof_name
    = @proficiency.name
  .col-sm-3.prof_tier
    %input{id: "vh_proficiency_tier_" + @proficiency.id.to_s, value: @proficiency.tier, class: "vh_num"}