
.row
  .col-sm-4.vh_hint
    Name
  .col-sm-8.vh_hint
    Description
.vh_proficiency_templates{id: "proficiency_templates"}
  -@proficiencies.each_with_index do |prof, index|
    - if params[:mode] == "builder"
      .row{onclick: 'build_proficiency(' + prof.id.to_s + ')', class: (index % 2 == 0) ? "vh_alt" : ""}
        .col-sm-4
          = prof.name
        .col-sm-8
          = prof.description
    -else
      .row{onclick: 'add_proficiency(' + prof.id.to_s + ')', class: (index % 2 == 0) ? "vh_alt" : ""}
        .col-sm-4
          = prof.name
        .col-sm-8
          = prof.description  
    
      