// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "hunters";
@import "home";
@import "templates";

.error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.notice
{
  font-size:18pt;
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}
.success
{
  background:#DDFCD5;
  color:#000;
  border-color:#44A815;
}

.alert
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}