// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "hunters";
@import "home";
@import "cards";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.notice
{
  font-size:18pt;
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}
.success
{
  background:#DDFCD5;
  color:#000;
  border-color:#44A815;
}

.alert
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.mwin_outer_center {
    float: right;
    right: 50%;
    position: relative;
    pointer-events: none;
}
.mwin_inner_center {
    float: right;
    right: -50%;
    position: relative;
    pointer-events: none;
}
.mwin_clear {
    clear: both;
}

.mwin
{
  margin-top:10em;
  //margin-left:auto;
  //margin-right:auto;
  position:relative;
  max-width:60em;
  //min-width:10em;
  //min-height:20em;
  padding:1em;
  //opacity: 0.2;
  
  //@include border-radius( 1em);
  //background-color:#e3e3e3;
  color:#222222;
}

.short
{
  max-width:20em;
}
.btn-huge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

body {
  background-color:#515663;
  color:#E6E6E6;
}

a {
  color: #0052CC;
}

a:hover
{
  
}

table
{
  border:solid;
  border-width:2px;
  border-color:#EFEFEF;
}

thead
{
  border-bottom: solid;
  border-width:2px;
  border-color:#EFEFEF;
}

td, th
{
  padding-left:1em;
  padding-right:1em;
  max-width:20em;
  width:auto;
}

.list
{
  background-color:#e3e3e3;
  padding:15px;
  pointer-events:all;
  min-width:30em;
}