// Place all the styles related to the hunters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page
{
  max-width:60em;
  margin-left:auto;
  margin-right:auto;
  border:solid;
  border-width:1px;
  border-color:#EEEEEE;
  padding:4em;
}
.row
{
  
}
.spacer
{
  height:1em;
}
.field
{
  
}
.alt
{
  background-color:#DDDDDD;
  box-sizing: border-box;
}
.txt
{
  min-width:4em;
  max-width:14em;
  border:none;
  border-bottom: solid;
  border-width: thin;
  font-size:12pt;
}
.num
{
  max-width:3em;
  border:none;
  border-bottom: solid;
  border-width: thin;
  font-size:12pt;
}
.region_title
{
  font-weight:strong;
  font-size: 12pt;
}
.hardbox
{
  border: solid;
  border-width: 2px;
  height:auto;
  width:auto;
  background-color:#EEEEEE;
}

.softbox
{
}
.cell
{
  text-align: center;
}
.bignum
{
  font-size:22pt;
  border:none;
  border-bottom: solid;
  border-width: thin;
  max-width:3em;
  text-align: center;
  font-weight: bold;
  font-family: Verdana;
}
.auto
{
  margin-left:auto;
  margin-right:auto;
}
.col2
{
  
}
.double
{
  
}
.hint
{
  font-size:9pt;
  color:#AAAAAA;
}
.prof_name
{
  
}
.prof_tier
{
  
}
.txt_box
{
  width:100%;
  min-height:10em;
}

.longnum
{
  border:none;
  border-bottom: solid;
  border-width: thin;
  min-width: 10em;
  text-align: right;
}
.attack_pad
{
  margin:0.5em;
}


.attacks
{
  height:auto;
  min-height:10em;
  max-height:20em;
  overflow:auto;
  overflow-x:hidden;
  background-color:#F0F0F0;
  margin-right:1em;
}

.proficiencies
{
  min-height:10em;
  border-bottom:solid;
  border-width: 2px;
  background-color:#F0F0F0;
}

.profs
{
  height:auto;
  min-height:10em;
  max-height:25em;
  overflow:auto;
  overflow-x:hidden;
}

.actions{
  height:auto;
  min-height:5em;
  
}

.skills
{
  height:auto;
  min-height:5em;
  max-height:20emem;
  overflow:auto;
  overflow-x:hidden;
  background-color:#F0F0F0;
}