// Place all the styles related to the hunters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vh_page
{
  max-width:65em;
  margin-left:auto;
  margin-right:auto;
  border:solid;
  border-width:1px;
  border-color:#EEEEEE;
  padding:2em;
}
.vh_spacer
{
  height:1em;
}
.vh_field
{
  
}
.vh_alt
{
  background-color:#E5E5E5;
  box-sizing: border-box;
}
.vh_txt
{
  min-width:4em;
  max-width:14em;
  border:none;
  border-bottom: solid;
  border-width: thin;
  font-size:12pt;
  background-color:transparent;
  max-width:100%;
  min-height:1em;
}
.vh_num
{
  max-width:3em;
  border:none;
  border-bottom: solid;
  border-width: thin;
  font-size:12pt;
  background-color:transparent;
  text-align:right;
  max-width:100%;
}
.vh_region_title
{
  font-weight:strong;
  font-size: 12pt;
}
.vh_hardbox
{
  border: solid;
  border-width: 2px;
  height:auto;
  width:auto;
  background-color:#F6F6F6;
}

.vh_softbox
{
  background-color:#F6F6F6;
  margin-right:1em;
  padding-bottom:1em;
  min-height:10em;
  height:auto;
  border-bottom:solid;
  border-width: 2px;
  text-align: center;
}
.vh_cell
{
  text-align: center;
}
.vh_bignum
{
  font-size:22pt;
  border:none;
  border-bottom: solid;
  border-width: thin;
  max-width:3em;
  text-align: center;
  font-weight: bold;
  font-family: Verdana;
  background-color:transparent;
}
.vh_auto
{
  margin-left:auto;
  margin-right:auto;
}
.vh_col2
{
  
}
.vh_double
{
  
}
.vh_hint
{
  font-size:9pt;
  color:#AAAAAA;
}
.vh_prof_name
{
  
}
.vh_prof_tier
{
  
}
.vh_txt_box
{
  width:100%;
  min-height:10em;
  background-color:transparent;
}

.vh_longnum
{
  border:none;
  border-bottom: solid;
  border-width: thin;
  min-width: 10em;
  text-align: right;
  background-color:transparent;
}
.vh_attack_pad
{
  margin:0.5em;
}


.vh_attacks
{
  height:auto;
  min-height:10em;
  max-height:20em;
  overflow:auto;
  overflow-x:hidden;
  background-color:#F6F6F6;
  margin-right:1em;
  border-bottom:solid;
  border-width: 2px;
}

.vh_proficiencies
{
  min-height:10em;
  border-bottom:solid;
  border-width: 2px;
  background-color:#F6F6F6;
}

.vh_profs
{
  height:auto;
  min-height:10em;
  max-height:25em;
  overflow:auto;
  overflow-x:hidden;
}

.vh_skill_list{
  height:auto;
  min-height:10em;
  max-height:25em;
  border-bottom:solid;
  border-width: 2px;
  background-color:#F6F6F6;
  overflow:auto;
  overflow-x:hidden;
}

.vh_smalltext
{
  font-size:8pt;
}

.vh_skills
{
  height:auto;
  min-height:5em;
  max-height:20emem;
  overflow:auto;
  overflow-x:hidden;
}

.vh_skill
{
 padding-left:0.5em;
 padding-right:0.5em;
}

.vh_proficiencies
{
  padding-left:0.5em;
  padding-right:0.5em;
}
.vh_misc{
  width:100%;
}

.vh_critical
{
  
}
.vh_build_large
{
  font-size:18pt;
}

.vh_build_huge
{
  font-size:22pt;
}

.vh_selected
{
  background-color:#D0D0FF;
}

.force_v_center
{
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}