.col-md-3
  %a{href: '#', onclick: "blrpgWindows.cardModal('/consumables/card?id=#{consumable.consumable_template_id},template=true')"}
    = consumable.consumable_template.name
.col-md-2
  %input{name: "current_uses", class: "vh_num", value: consumable.current_uses}
.col-sm-2
.col-md-5
  %a{href: '#', onclick: "cardModal('consumables/card?id=#{consumable.id}')"}
    Card